parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/AdminAuditLogController.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/AdminBillingController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/AdminBillingController.php

		-
			message: '#^Cannot call method toISOString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Admin/AdminWebhooksController.php

		-
			message: '#^Parameter \#1 \$endpoint of method App\\Services\\WebhookService\:\:dispatchToEndpoint\(\) expects App\\Models\\WebhookEndpoint, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Api/WebhookEndpointController.php

		-
			message: '#^Call to function method_exists\(\) with App\\Models\\User and ''updateLastLogin'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/Auth/SocialAuthController.php

		-
			message: '#^Call to function method_exists\(\) with App\\Models\\User and ''subscribed'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Parameter \#1 \$user of method App\\Services\\PlanLimitService\:\:startTrial\(\) expects App\\Models\\User, Illuminate\\Contracts\\Auth\\Authenticatable given\.$#'
			identifier: argument.type
			count: 1
			path: app/Listeners/StartUserTrial.php

		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Notifications/FeedbackReceivedNotification.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Notifications/FeedbackReceivedNotification.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Symfony\\Component\\HttpFoundation\\ParameterBag\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/AuditService.php

		-
			message: '#^Using nullsafe property access on non\-nullable type Illuminate\\Http\\Request\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/AuditService.php
