<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="STRIPE_SECRET" value="sk_test_fake"/>
        <env name="STRIPE_WEBHOOK_SECRET" value="whsec_test"/>
        <env name="STRIPE_PRICE_PRO" value="price_pro_monthly"/>
        <env name="STRIPE_PRICE_PRO_ANNUAL" value="price_pro_annual"/>
        <env name="STRIPE_PRICE_TEAM" value="price_team_monthly"/>
        <env name="STRIPE_PRICE_TEAM_ANNUAL" value="price_team_annual"/>
        <env name="STRIPE_PRICE_ENTERPRISE" value="price_enterprise_monthly"/>
        <env name="STRIPE_PRICE_ENTERPRISE_ANNUAL" value="price_enterprise_annual"/>
        <env name="CASHIER_LOGGER" value=""/>
        <!-- Feature Flags: Only set those that need to be enabled for tests -->
        <!-- Defaults match config/features.php unless routes need to exist for tests -->
        <env name="FEATURE_ADMIN" value="true"/>
        <env name="FEATURE_BILLING" value="true"/>
        <env name="FEATURE_SOCIAL_AUTH" value="true"/>
        <env name="FEATURE_EMAIL_VERIFICATION" value="true"/>
        <env name="FEATURE_API_TOKENS" value="true"/>
        <env name="FEATURE_USER_SETTINGS" value="true"/>
        <!-- FEATURE_NOTIFICATIONS defaults to false - let tests that need it set it explicitly -->
        <env name="FEATURE_ONBOARDING" value="true"/>
        <!-- FEATURE_API_DOCS defaults to false - let tests that need it set it explicitly -->
        <env name="FEATURE_TWO_FACTOR" value="true"/>
        <env name="FEATURE_WEBHOOKS" value="true"/>
    </php>
</phpunit>
